html,
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 1150px;
}
/* 배경 */
.enrollbg {
  width: 100%;
  height: 100%;
  position: relative;
}
/* 등록 구역 */
.enroll_contents {
  background-color: rgba(255, 255, 255, 0.856);
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  margin-top: 100px;
  height: auto;
  width: 780px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* 제목 */
.enroll_contents h1 {
  left: 15px;
  font-size: 50px;
  color: rgb(122, 172, 182);
  font-family: 'Times New Roman', Times, serif;
  margin: 50px 0 30px;
}
/* 등록 */
.enroll_contents .enroll {
  justify-content: center;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.enroll .element {
  justify-content: space-around;
  margin-top: 30px;
}
.enroll .imgfile {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.element .blank {
  border: solid 1.2px rgb(133, 133, 133);
  height: 29px;
  width: 250px;
  font-size: 12px;
}
.element label {
  font-weight: bold;
  color: black;
  margin-right: 5px;
  font-size: 120%;
}
.imgfile input {
  margin-top: 20px;
}
.element .hashbtn {
  background-color: rgb(32, 32, 32);
  color: white;
  padding: 5px 21px 8px 21px;
  font-size: 14px;
  cursor: pointer;
}
.submit {
  display: flex;
  align-items: center;
  justify-content: center;
}
.submit input {
  border-radius: 20px;
  padding: 10px 30px 10px 30px;
  border: none;
  color: white;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  cursor: pointer;
  box-shadow: 0px 0px 10px gray;
  font-family: 'Times New Roman', Times, serif;
  margin: 50px 20px;
}
.submit .enrollbtn {
  background-color: rgb(122, 172, 182);
}
.submit .enrollbtn:hover {
  background-color: #8391a4;
}
.submit .resetbtn {
  background-color: rgb(160, 160, 160);
}
.submit .resetbtn:hover {
  background-color: #8391a4;
}
/* 하단 영역 */
#footer {
  clear: both;
  padding: 20px;
}

ul {
  list-style-type: none;
}
ul li {
  margin-bottom: 10px;
}
#imgpreview {
  border: 1px solid #ccc;
  width: 300px;
  height: 300px;
}

#menubtn_group {
  color: aliceblue;
}
@media screen and (max-width: 900px) {
  #contents {
    height: 100%;
    width: 100%;
    margin: 0;
  }
  #menubtn_group {
    color: black;
  }
  h1 {
    text-align: center;
  }
}
